@use "./base.scss";
@use "./variables.scss" as *;

.vt-install-button {
  padding: 6px 32px;
  border-radius: 4px;
  color: var(--light);
  background-color: var(--secondary);

  svg {
    display: none;
  }
}

.vt-vertical-spacing {
  height: 16px;
}

img[data-type="icon"] {
  margin: 0;
  padding: 0 2px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

:root[saved-theme="dark"] img[data-type="icon"] {
  filter: invert(0.8);
}

num {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  font-family: var(--codeFont);
  font-size: 14px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  vertical-align: baseline;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background-color: var(--highlight);
}

kbd {
  color: var(--secondary);
  background-color: var(--lightgray);
  box-shadow: inset 0 -1px 0 var(--gray);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 90%;
  font-family: var(--codeFont);
}

.sidebar.right {
  @media all and not ($desktop) {
    flex-direction: column !important;

    & > * {
      flex-basis: auto !important;
    }

    & .overflow {
      height: unset !important;
    }
  }
}

.roadmap {
  ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 1.5rem;
    padding: 0;

    li {
      display: block !important;
      padding: 0 1.5rem;
      border-radius: 4px;
      font-family: var(--headerFont);
      font-size: 1.05rem;
      font-weight: 600;
      color: var(--secondary);

      ul {
        display: block !important;
        padding: 0;

        li {
          display: block !important;
          padding: 0;
          background-color: unset;
          font-family: var(--bodyFont);
          font-size: 1rem;
          font-weight: 400;
          color: var(--dark);
        }
      }
    }
  }
}
